.main-page {
    display: none;
    width: 500px;
    height: 600px;
    border: 1px solid rgb(7, 7, 7);
    padding: 50px;
    margin: 20px;
    background-color: rgba(8, 8, 8, 0.158);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    padding: 30px;
    text-align: center;
    background-color: rgb(139, 79, 79);
}

td {
    border: 1px solid black;
    width: 500px;
    height: 150px;
    background-color: rgba(26, 156, 102, 0.411);
    margin: 0 auto  ;
}


html{
    background-color:lightcyan;
}

span {
    font-size: 40px;
    color:rgb(7, 3, 44);
}

#won {
    color: white;
    margin-top: 25;
    padding: 100px;
    font-size: 80px;
    background-color: black;
}

.after-won {
    color: black;
}

#intro {
    margin: auto 0;
    text-align: center;
    margin-top: 250px;

}

.standard-view {
    margin: auto 0;
    text-align: center;
    margin-top: 250px;
    
}

#players-entry {
    display: none;
}

#display-panel {
   
    height: 40px;
    border: solid red 2px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -20px;
    
}

#reset-btn {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}

#end-view {
    display: none;
    width: 500px;
    height: 650px;
    border: 10px solid rgb(255, 6, 6);
    padding: 50px;
    margin: 20px;
    background-color: rgba(8, 8, 8, 0.99);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -250px;
    padding: 30px;
    text-align: center;
    
}

.statement-view {
    color: aliceblue;
    font-family: cursive;
    font-size: 40px;

}

.down-below {
    color: aliceblue;
    font-size: 30px;
    background: black;
    
}